# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# Operating system specific
.DS_Store
Thumbs.db

# Optional: Ignore the compiled .exe file
*.exe

# Ignore other sensitive or temporary files
/public/*.exe  # Add this if you store .exe files in the public folder
